<div
  class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-2 p-2 text-sm"
  *ngIf="pagination"
>
  <div class="flex flex-wrap justify-center gap-1">
    <button
      class="h-9 rounded transition font-semibold flex items-center"
      [class.opacity-50]="pagination.first"
      [class.cursor-pointer]="!pagination.first"
      [class.cursor-default]="pagination.first"
      [disabled]="pagination.first"
      (click)="goToPage(0)"
    >
      <span class="material-icons">first_page</span>
    </button>

    <button
      class="h-9 rounded transition font-semibold flex items-center"
      [class.opacity-50]="pagination.first"
      [class.cursor-pointer]="!pagination.first"
      [class.cursor-default]="pagination.first"
      [disabled]="pagination.first"
      (click)="goToPage(pagination.number - 1)"
    >
      <span class="material-icons">chevron_left</span>
    </button>

    <ng-container *ngFor="let page of pages()">
      <button
        class="h-9 px-3 rounded transition font-semibold"
        [ngClass]="{
          'bg-gray-800 text-white': page === pagination.number,
          'cursor-pointer': page !== pagination.number
        }"
        (click)="goToPage(page)"
      >
        {{ page + 1 }}
      </button>
    </ng-container>

    <button
      class="h-9 rounded transition font-semibold flex items-center"
      [class.opacity-50]="pagination.last"
      [class.cursor-pointer]="!pagination.last"
      [class.cursor-default]="pagination.last"
      [disabled]="pagination.last"
      (click)="goToPage(pagination.number + 1)"
    >
      <span class="material-icons">chevron_right</span>
    </button>

    <button
      class="h-9 rounded transition font-semibold flex items-center"
      [class.opacity-50]="pagination.last"
      [class.cursor-pointer]="!pagination.last"
      [class.cursor-default]="pagination.last"
      [disabled]="pagination.last"
      (click)="goToPage(pagination.totalPages - 1)"
    >
      <span class="material-icons">last_page</span>
    </button>
  </div>

  <div class="flex items-center justify-center sm:justify-end">
    <label for="size" class="mr-2 font-semibold">Itens por página:</label>
    <select
      id="size"
      class="h-9 py-1 rounded border transition cursor-pointer"
      [ngModel]="pagination.size"
      (ngModelChange)="changePageSizeFromValue($event)"
    >
      <option *ngFor="let s of [5, 10, 15, 20, 50]" [value]="s">{{ s }}</option>
    </select>
  </div>
</div>
