<div class="card">
  <h2 class="card-title">
    Producers with longest and shortest interval between wins 
  </h2>

  <div class="relative">
    <h1 class="text-md ms-1">Maximum
    </h1>

    <div class="table-container">
      <table class="table">
        <thead class="table-header">
          <tr>
            <th class="table-header-cell">Producer</th>
            <th class="table-header-cell">Interval</th>
            <th class="table-header-cell">Previous Year </th>
            <th class="table-header-cell">Following Year</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let obj of interval?.max" class="table-row">
            <td class="table-cell table-cell-text">
              {{ obj.producer }}
            </td>
            <td class="table-cell table-cell-muted">
              {{ obj.interval }}
            </td>
            <td class="table-cell table-cell-muted">
              {{ obj.previousWin }}
            </td>
            <td class="table-cell table-cell-muted">
              {{ obj.followingWin }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="relative mt-3">
    <h1 class="text-md ms-1">Minimum</h1>

    <div class="table-container">
      <table class="table">
        <thead class="table-header">
          <tr>
            <th class="table-header-cell">Producer</th>
            <th class="table-header-cell">Interval</th>
            <th class="table-header-cell">Previous Year</th>
            <th class="table-header-cell">Following Year</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let obj of interval?.min" class="table-row">
            <td class="table-cell table-cell-text">
              {{ obj.producer }}
            </td>
            <td class="table-cell table-cell-muted">
              {{ obj.interval }}
            </td>
            <td class="table-cell table-cell-muted">
              {{ obj.previousWin }}
            </td>
            <td class="table-cell table-cell-muted">
              {{ obj.followingWin }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
