<aside class="w-56 bg-gray-800 text-white h-full shadow-md transition-all duration-300 ease-in-out">
  <ul class="flex flex-col">
    <li>
      <a 
        routerLink="/dashboard" 
        routerLinkActive="bg-gray-700"
        class="flex items-center w-full px-4 py-3 hover:bg-gray-700 transition-colors duration-200 font-semibold"
      >
        <span class="material-icons mr-3">home</span>
        Dashboard
      </a>
    </li>
    <li>
      <a 
        routerLink="/list" 
        routerLinkActive="bg-gray-700"
        class="flex items-center w-full px-4 py-3 hover:bg-gray-700 transition-colors duration-200 font-semibold"
      >
        <span class="material-icons mr-3">list</span>
        Lista de Filmes
      </a>
    </li>
  </ul>
</aside>
