
<div class="table-container">
  <table class="table">
    <thead class="table-header">
      <tr>
        <th class="table-header-cell">Ano</th>
        <th class="table-header-cell">Quantidade de Vitórias</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let year of years" class="table-row">
        <td class="table-cell table-cell-text">
          {{ year.year }}
        </td>
        <td class="table-cell table-cell-muted">
          {{ year.winnerCount }}
        </td>       
      </tr>
    </tbody>
  </table>
</div>