<header class="w-full h-16 bg-gray-800 text-white flex items-center px-4 shadow">
  <button 
    (click)="toggleSidebar.emit()" 
    class="flex items-center justify-center h-full text-white focus:outline-none cursor-pointer"
  >
    <span class="material-icons text-3xl">menu</span>
  </button>

  <!-- <h1 class="ml-4 text-xl font-semibold">Golden Raspberry Awards</h1> -->

  <div class="flex items-center space-x-2 cursor-pointer ms-3" [routerLink]="'/dashboard'">
    <img src="/img/logo.png" alt="Logo" class="h-10 w-auto" />
    <span class="text-xl font-semibold">Golden Raspberry Awards</span>
    <img src="/img/logo.png" alt="Logo" class="h-10 w-auto" />
  </div>
</header>